html {
    background-color: #f75c03;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2274A5;
    border-color: #D90368
}

body {
    max-width: 1000px;
    margin:auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1c40f;
    margin: 10px;
    border: 5px solid #d90368;   

}

.navbutton {
    margin: 5px; 
    padding: 5px 20px;
    font-weight: 900;
    font-size: 28px;
}

a:link.navbutton {
    color: #2274a5;
    text-decoration: none;
}

a:visited.navbutton {
    color: #2274a5;
    text-decoration: none;
}

header {
    display: flex;
    background-image: url(assets/titleImage.jpg);
    background-size: cover;
    height:600px;
    margin: 10px;
    border: 5px solid #D90368;
    opacity: .8;
}


#title {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 72px;
    padding-left: 10px;
}

#about {
    display: flex;
    margin: 10px;
    border: 5px solid #D90368;
    background-color: #f1c40f;
    padding: 10px;
    text-align: center;
}

#productcontainer {
    display: flex;
    flex: 800px;
    flex-wrap: nowrap;
    background-color: #f1c40f;
    padding: 10px;
    margin: 10px;
    border: 5px solid #D90368;
    align-content: space-around;
}

.product {
    flex-shrink: 3;
    margin: 10px;
    border: 5px solid #D90368;
    text-align: center;
    width: 1fr;
    padding: 10px;
}

.productimg {
    max-width: 200px;
    height: auto;
}

#employeescontainer {
    display: flex;
    flex: 800px;
    flex-wrap: wrap;
    background-color: #00cc66;
    padding: 10px;
    margin: 10px;
    border: 5px solid #D90368;
    align-content: space-around;
}

.employees {
    display: flex;
    flex: 400px;
    flex-wrap: wrap;
    background-color: #f1c40f;
    padding: 10px;
    margin: 10px;
    border: 5px solid #D90368;
    align-items: center;
}

.employeeimg {
    min-width: 200px;
    max-width: 200px;
    height: auto;
}

.employeename {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 20px;
    padding-left: 5px;
}

.employeecopy {

}

footer {
    text-align: center;
    padding: 10px;
    border: 5px solid #D90368;
    margin: 10px;
    
}
